<% content_for :title, "Meter | " + @meter.profile %>

<br>
<div class="row">
  <div class="col-md-12 table-responsive">

    <h4>
        <%= image_tag('chevron-right', class: 'menu_icon') + @meter.region.name %>
        
        <% if @meter.subregion != "" %>
          <%= image_tag('chevron-right', class: 'menu_icon') + @meter.subregion %>
        <% end %>
        
        <%= image_tag('chevron-right', class: 'menu_icon') + @meter.profile.split(".xls")[0] %>
    </h4>
    <h6>Акаунт - <%= @meter.account %></h6>
    <h6>Номер счётчика - <%= @meter.number %></h6>
    <h6>Kt - <%= @meter.kt %></h6>
    <div class="border-bottom"></div>
    <br>

    <div class="row">
      <div class="col-auto">
        <%= link_to "1H", hour_meter_path(@meter), :class => "btn btn-outline-primary btn-sm #{"active" if request.original_url.include? "hour"}", :role => "button" %>
        <%= link_to "1D", day_meter_path(@meter), :class => "btn btn-outline-primary btn-sm #{"active" if request.original_url.include? "day"}", :role => "button" %>
        <%= link_to "1M", month_meter_path(@meter), :class => "btn btn-outline-primary btn-sm #{"active" if request.original_url.include? "month"}", :role => "button" %>
      </div>

      <div class="col-auto">
        <div class="form-inline">
          <%= form_tag hour_meter_path, method: :get do %>
            <%= text_field_tag 'daterange', params[:daterange], placeholder: 'Выберите даты', class: 'flatpickr' %>
            <%= submit_tag 'Выбрать', name: :datepicker, class: 'btn-primary btn-sm' %>
          <% end %>
        </div>
      </div>

      <div class='col-auto' style='padding-top: 5px'>
        <span class='nav-item'>
         <%= link_to image_tag('mail', class: 'menu_icon') + "Сгенерировать и отправить XML", request.original_url + '&email=siminel.n@gmail.com', class: "nav-link}" %>
       </span>

        <% if false %>
        <div class="form-inline">
          <%= form_tag hour_meter_path, method: :get do %>
            <%= email_field_tag 'email', params[:email], placeholder: 'Введите e-mail', class: 'form-control' %>
            <%= submit_tag 'Отправить', name: :email, class: 'btn-primary btn-sm' %>
          <% end %>
        </div>
        <% end %>
      </div>


      <div class="col-auto float-right">
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export
          </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#xls">XLS</a>
            <a class="dropdown-item" href="#xml">XML</a>
          </div>
        </div>
      </div>

    </div>

    <br><br>

    <div class="row">
      <div class="col-md-6">
        <h6><strong>AEC+</strong></h6>
        <%= line_chart @readings.group(:date).sum(:aec_p) %>
      </div>
      <div class="col-md-6">
        <h6><strong>AEC-</strong></h6>
        <%= line_chart @readings.group(:date).sum(:aec_m) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h6><strong>AD+</strong></h6>
        <%= line_chart @readings.group(:date).sum(:rec_p) %>
      </div>
      <div class="col-md-6">
        <h6><strong>AD-</strong></h6>
        <%= line_chart @readings.group(:date).sum(:rec_m) %>
      </div>
    </div>


    <br><br>

    <table class="table table-striped table-sm" style="font-size: 13px; margin-left: 15px">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">AEC+, kWh</th>
          <th scope="col">AEC-, kWh</th>
          <th scope="col">REC+, kWh</th>
          <th scope="col">REC-, kWh</th>
          <th scope="col">AD+, MW</th>
          <th scope="col">AD-, MW</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr style="font-weight: bold;">
          <td>Total</td>
          <td><%= @aec_sum[0].round(4) %></td>
          <td><%= @aec_sum[1].round(4) %></td>
          <td><%= @rec_sum[0].round(4) %></td>
          <td><%= @rec_sum[1].round(4) %></td>
          <td><%= @ad_sum[0].round(4) %></td>
          <td><%= @ad_sum[1].round(4) %></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% @readings.each do |reading| %>
          <tr>
            <td><%= reading.date %></td>
            <td><%= reading.aec_p %></td>
            <td><%= reading.aec_m %></td>
            <td><%= reading.rec_p %></td>
            <td><%= reading.rec_m %></td>
            <td><%= reading.ad_p %></td>
            <td><%= reading.ad_m %></td>
            <td style="text-align: right;">
              <%= link_to "Изменить", edit_reading_path(reading), :class => "btn btn-outline-warning btn-xs", :role => "button" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>