<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>This is a test email from MERC!</p>
    <p>
    Meter details<br>
    --------------------------
    </p>
    <p>Profile: <%= @meter.name %></p>
    <p>Meter Number: <%= @meter.number %></p>
    <p>Meter ID: <%= @meter.id %></p>
    <p>Date: <%= @readings[0].date %></p>
    XML:<br>
    <p>&lt?xml version="1.0" encoding="utf-8" ?&gt</p>
    <p><MeasurementValueDocument DtdRelease="1" DtdVersion="0"></MeasurementValueDocument></p>
      <p><DocumentIdentification v="MERC_DOC_54"/></p>
      <p><DocumentVersion v="1"/></p>
      <p><DocumentType v="A45"/></p>
      <p><ProcessType v="A20"/></p>
      <p><SenderIdentification v="test_admin" codingScheme="A01"/></p>
      <p><SenderRole v="A04"/></p>
      <p><ReceiverIdentification v="moldelectrica_test" codingScheme="A01"/></p>
      <p><ReceiverRole v="A04"/></p>
      <p><DocumentDateTime v="<%=Time.current %>"/></p>
      <p><MeasurementPeriod v="2020-02-24T00:00Z/2019-02-25T00:00Z"/></p>
      <p><MeasurementTimeSeries>  <SendersTimeSeriesIdentification v="test_Zcode"/></MeasurementTimeSeries>
        <p><BusinessType v="A65"/></p>
        <p><Product v="8716867000030"/></p>
        <p><InArea v="test_area1" codingScheme="A01"/></p>
        <p><OutArea v="test_area2" codingScheme="A01"/></p>
        <p><SourcePartyIdentification v="test" codingScheme="A01"/></p>
        <p><MeasurementIdentification v="test_Zcode" codingScheme="A01"/></p>
        <p><MeasurementUnit v="MWH"/></p>
        <p><Period>  <TimeInterval v="2020-02-24T00:00Z/2019-02-25T00:00Z"/></Period>
          <p><Resolution v="PT30M"/></p>
          <p><Interval>  <Pos v="1"/></Interval>
            <p><Qty v="0.000"/></p>
            <p><Qual v="A04"/></p>
          <p></Interval></p>
        <p></Period></p>
    <p></MeasurementValueDocument></p>




  </body>
</html>