<% content_for :title, "Обмен данными | Отправка XML" %>

<br>
<div class="row">
  <div class="col-md-12 table-responsive">

    <h4>Отправка XML партнёрам</h4>

    <div class="border-bottom"></div>
    <br>

    <div class="row">
      <div class="col-auto">
        <div class="form-inline">
          <%= form_tag send_mail_path, method: :get do %>
            <%= text_field_tag 'daterange', params[:daterange], placeholder: 'Выберите дату', class: 'datepicker' %>
            <%= submit_tag 'Выбрать', name: :datepicker, class: 'btn-primary btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>

    <br>

    <table class="table table-striped table-sm" style="font-size: 13px">
      <thead>
        <tr>
          <th>Партнёр</th>
          <th>Список профилей к отправке</th>
          <th>Формат</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>UKRAINA</td>
          <td>
            <% @meters.each_with_index do |meter, index| %>
              <%= (index+1).to_s + ". " %>
              <%= link_to meter.profile, hour_meter_path(meter) %><br>
            <% end %>
          </td>
          <td>XML</td>
          <td></td>
          <td style="text-align: right;"><%= link_to image_tag('send', class: 'menu_icon') + "Сгенерировать и отправить XML", request.original_url + '&send=UKR' %></td>
        </tr>
      </tbody>
    </table>




  </div>
</div>

